:root {
    --margin: 120px;
    background: rgb(121,9,9);
    background: linear-gradient(90deg, rgba(121,9,9,1) 7%, rgba(145,71,44,1) 100%);    --interact-color: rgb(82, 54, 54);
    background: rgb(121,9,9);
    background: linear-gradient(90deg, rgba(121,9,9,1) 7%, rgba(145,71,44,1) 100%);    --interact-color: rgb(82, 54, 54);
    --gap: 3em;
}

body {
    background: var(--background);
    background: var(--background);
}

