:root {
  --margin: 120px;
  --bakground: #541414ff;
  --interact-color: rgb(82, 54, 54);
  --gap: 3em;
}

body {
  background-color: var(--bakground);
  margin: 0;
  color: white;
}
@font-face {
  font-family: Orbitron;
  src: url("./Orbitron-VariableFont_wght.ttf");
}